extends layout

block append head
  link(rel='stylesheet', href='/css/style.css')

block scripts
  script(src='/jquery.js')
  script(src='/underscore.js')
  script(src='/backbone.js')
  script(src='/lib/EventEmitter-3.1.4.js')
  script(src='/models/storage.js')
  script(src='/models/task.js')
  script(src='/views/total_view.js')
  script(src='/views/task_view.js')
  script(src='/index.js')

block content
  h1 Task List
  #content

    form#createForm
      input#text(name='task-text', type='text', placeholder='What do you need to do?')

    ul#taskList

    #total
