extends layout

block append head
  link(rel='stylesheet', href='/ui.css')
  link(rel='stylesheet', href='/style.css')

block scripts
  script(src='/zepto-0.8/zepto.js')
  script(src='/zepto-0.8/event.js')
  script(src='/underscore-1.3.1.js')
  script(src='/backbone-0.9.1.js')
  script(src='/EventEmitter-3.1.4.js')
  script(src='/ui.js')
  script(src='/task.js')
  script(src='/views/task_view.js')
  script(src='/index.js')

block content
  h1= 'Hello!!!'

  form#createForm
    input#text(type='text', placeholder='Input new task...')
    input#createTask(type='submit', value='Create')

  ul#taskList
